<h4>Class S</h4>
<ul class="list-group">
  <li *ngFor="let hero of characters;
  let i = index;
      let first = first;
      let last = last;
      let isEven = even;
      let isOdd = odd" class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{'list-group-item-info': first, 'list-group-item-danger' : last }">

    <div>
      {{i + 1}}. {{hero.name}} - rango:
    <strong>{{hero.range}}</strong>
    </div>

    <button class="btn btn-danger flex-" (click)="onDeleteCharacterId(hero.id!)">X</button>
  </li>
</ul>
